<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link type="text/css" href="/styles/resets.css">
    <link type="text/css" href="/styles/base.css">
    <link type="text/css" href="/styles/header.css">
    <link type="text/css" href="/styles/form.css">
    <link type="text/css" href="/styles/footer.css">
</head>
<body>
    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>
    <main>
        <h1>Natural language processor</h1>
        <section>
            <form onsubmit="return Client.handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Enter URL">
                <button type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" submit="return Client.handleSubmit(event)">Submit</button>
            </form>
        </section>

        <section class="results">
            <h2>Results below!</h2>
            <div id="results">
            <p id="coming" class="hide">Results incoming...</p>
              <ul id="data-list" class="data-list">
                <li id="subjectivity"></li>
                <li id="score_tag"></li>
                <li id="agreement"></li>
                <li id="confidence"></li>
                <li id="irony"></li>
                
              </ul>
            </div>
        </section>
    </main>

    <footer>
        <p>A Ben website (so not great....)</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      </script>
</body>
</html>