<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="headline">
     Should I bring an umbrella on this trip?
    </div>
    <section id="userInput">
      <div id="app">
        <div class="city">
          <label for="city">Where are you going?</label>
          <input type="text" id="city" placeholder="Enter City Here" />
        </div>
        <div class="dateGoing">
          <label for="date">When are you going?</label>
          <input type="date" class="datePicker" />
        </div>
        <div class="dateOfReturn">
          <label for="date">When are you coming back?</label>
          <input type="date" class="datePicker" />
        </div>

        <button id="generate" type="submit">Submit</button>
      </div>
    </section>
    <div class="output">
      <h3>Trip length</h3>
      <div id="details"></div>
      <h3>Weather forecast</h3>
      <div id="content"></div>
      <img id="image" />
    </div>
    <!-- <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script> -->
  </body>
</html>