html, body{
  height: 100%;
}
body{
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  width: 100%;
}

#app{
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-columns:  */
  height:100vh;
  background: #f23557;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 1rem;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.holder{
height: 50px;
align-content: center;
}

.entry{
  display: grid;
  background: rgba(59, 74, 107, .4);
  padding: 24px 24px 100px 0;
  margin-top: 100px;
}

#entryHolder{
  font-size: 1em;
  padding:0 24px;
}

#date{
  font-size: 1em;
}

#temp{
  font-size: 1em;
}

#content{
  font-size: 1em;
}

.headline {
  font-size: 2em;
}
.title{
  font-size: 2rem;
  margin-top: 50px;
  padding-left: 24px;
}

.myInput {
  display: grid;
  height: 120px;
  width: 420px;
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
  display:block;
  font-size: 27px;
}

input{
  display:grid;
  height: 60px;
  width: 420px;
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

button{
  cursor: pointer;
  display: block;
  width: 100px;
  height: 50px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}

button:hover {
  background: #f0d43a;
  color: #3b4a6b;
}
h1{
  font-size: 36px;
}

textarea{
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
  color: #f0d43a; 
  font-family: 'Oswald', sans-serif;

} 

:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: #f0d43a; 
  font-family: 'Oswald', sans-serif;

} 

::-ms-input-placeholder { /* Microsoft Edge */ 
  color: #f0d43a; 
  font-family: 'Oswald', sans-serif;

} 