@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Shadows+Into+Light&display=swap);

$font-main: 'Shadows Into Light', sans-serif;
$font-head: 'Montserrat';
$colour-blue: #05386B;
$colour-cream: #EDF5E1;

form {
    border-radius: 25px;
    border: 2px solid #05386B;
    padding: 20px;
    height: 150px;
}


input {
    width: 100%;
    line-height: 16px;
    margin: 20px 0 0 0;
    padding: 10px 5px 10px 5px;
}

button {
    align-items: center;
    background: #05386B;
    color: #EDF5E1;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    margin: 10px 0 15px;
    padding: 10px 15px;
}
