
$font-main: 'Shadows Into Light', sans-serif;
$font-head: 'Montserrat';
$colour-grape: #94618E;
$colour-eggplant: #49274A;
$colour-sand: #EDF5E1;
$colour-shell: #F8EEE7;

body {
  background-color: #94618E;
  min-height: 100vh;
}

/*Mobile screen  */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
      "hd"
      "ui"
      "res"
      "img"
      "ft";
}

/*Large screen */
@media (min-width: 750px) {
.container {
  display: grid; 
  grid-template-columns: 0.6fr 0.7fr 1.7fr; 
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "hd hd hd"
    "ui res img"
    "ft ft ft"; 
  }
}

header { 
  grid-area: hd; 
}

.userInput { 
  grid-area: ui; 
}

.results { 
  grid-area: res; 
}

.image-div { 
  grid-area: img; 
}

footer { 
  grid-area: ft; 
}

/* Resize images */
.image-div > image {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.panel-content {
  padding: 3em;
}

header {
  padding: 1em;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  padding: 1em;
  text-align: center;
}

//Fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&family=Shadows+Into+Light&display=swap);


body {
    font: 25px/1.2 $font-main;
    font-weight: 300;
    color: $colour-sand;
  }

  h1 {
    font: 50px/1.5 $font-head;
    font-weight: 700;
    color: $colour-sand;
    margin: 0 0 0 0;
    text-align: center;
  }

  h2 {
    font: 30px/1.2 $font-head;
    font-weight: 600;
    color: $colour-sand;
    margin-top: 30px;
  }

  h3 {
    font: 30px/1.2 $font-head;
    font-weight: 600;
    color: $colour-sand;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: underline;
  }

  .hide {
    display: none;
  }

  input {
    display: block;
    height: 40px;
    width: 250px;
    background: $colour-eggplant;
    color: $colour-shell;
    cursor: pointer;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    border: none;
    margin: .5rem 0 .5rem 0;
  }

  button {
    align-items: center;
    background: $colour-eggplant;
    color: $colour-shell;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    margin: 10px 0 15px;
    padding: 10px 15px;
}
button:hover {
  background-color: $colour-shell;
  color: $colour-eggplant;
}

.details {
  margin-bottom: 10px;
}

